/*
Creator: Chase Dunagan
Date created: 09, 09, 2018
Date last modified:
*/

header {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;
}

footer {
  text-align: center;
}

.home-body {
  background-color: #efe6ff;
}

nav a {
  color: #000d1a;
}

nav a:hover {
  font-weight: bold;
}

nav a:visited {
  color: #ff8080;
}

nav a:active {
  text-decoration: none;
}
